{% extends 'base.html' %}


{% block body %}

<div class="container pt-2">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h2">Popis pitanja</h2>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th><th>Naziv</th><th>Ocjena</th><th>Kategorija</th><th></th>
            </tr>
        </thead>
        <tbody>
            {% for zadatak in zadaci %}
            <tr style="line-height:2.5;">
                <td>{{ zadatak.id }}</td>
                <td>{{ zadatak.name }}</td>
                <td>{{ zadatak.defaultgrade }}</td>
                <td>{{ zadatak.moodle_kategorija.category_name }}</td>
                <td><a class="btn btn-secondary" href="{{ zadatak.get_absolute_url }}">Prikaz</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock body %}