<div class="container">
{% if messages %}
    <div class="row">
        {% for message in messages %}
        <div class="col-lg-12 {{ message.tags }}">
            <p class="h4 mb-1 p-2 text-light">{{ message }}</p>
        {% endfor %}
        </div>
        </div>
{% endif %}
</div>