{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h2">Import JSON</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {{ form.errors }}
                    {{ form.as_table }}
                </table>
                <input type="submit" class="btn btn-primary" value="Spremi">
            </form>
        </div>
    </div>
</div>

{% endblock body %}