{% extends 'base.html' %}

{% block body %}

<div class="container pt-3">
    <form method="post" action="{% url 'import_json:save-questions' %}">
    {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="h3">Informacije o kolegiju</h3>
            </div>
            <div class="card-body">
                {% for field in kolegij_form %}
                    <div class="pt-2">
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                        <br>
                        {% if field.help_text %}
                        <small class="help">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}
                {% for field in kategorija_form %}
                    <div class="pt-2">
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                        <br>
                        {% if field.help_text %}
                        <small class="help">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
        </div>

    {% for zadatak_form in zadaci_forms %}
        <div class="card mb-2">
            <div class="card-header">
                <h3 class="h3">Pitanje {{ forloop.counter }}</h3>
            </div>
            <div id="{{ forloop.counter0 }}" class="card-body">
            {% for field in zadatak_form.zadatak %}
                <div class="pt-2 zadatak">
                    {{ field.errors }}
                    <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                    <br>
                    {% if field.help_text %}
                    <small class="help">{{ field.help_text|safe }}</small>
                    {% endif %}
                    {{ field }}
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <h3 class="h3">Odgovori</h3>
            </div>
            <div id="{{ forloop.counter0 }}" class="card-body">
            {% for odgovor in zadatak_form.odgovori %}
                <h4 class="h4">Odgovor {{ forloop.counter }}</h4>
                <div id="{{ forloop.counter0 }}" class="p-3">
                {% for field in odgovor %}
                    <div class="pt-2 odgovor">
                    {% if not field.is_hidden %}
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                        <br>
                        {% if field.help_text %}
                        <small class="help">{{ field.help_text|safe }}</small>
                        {% endif %}
                    {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}

        <input type="submit" class="btn btn-primary" value="Spremi">
    </form>
</div>

<script>

let zadaci = document.getElementsByClassName('zadatak');

for (let zadatak of zadaci) {
    console.log(zadatak.parentElement)
    for (let child of zadatak.children) {
        if (child.localName == "input" || child.localName == "select" || child.localName == "textarea") {
            child.name = child.name + "[" + zadatak.parentElement.id + "]";
        }
    }
}

let odgovori = document.getElementsByClassName('odgovor');

for (let odgovor of odgovori) {
    for (let child of odgovor.children) {
        if (child.localName == "input" || child.localName == "select" || child.localName == "textarea") {
            child.name = "odgovor_" + child.name + "[" + odgovor.parentElement.parentElement.id + "]" + "[" + odgovor.parentElement.id + "]";
        }
    }
}

</script>

{% endblock body %}