{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h2">Prikaz pitanja</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3">Osnovne informacije</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Naziv</th><td>{{ object.name }}</td>
                            </tr>
                            <tr>
                                <th>Tip pitanja</th><td>{{ object.get_type_display }}</td>
                            </tr>
                            <tr>
                                <th>Ocjena</th><td>{{ object.defaultgrade }}</td>
                            </tr>
                            <tr>
                                <th>Moodle ID</th><td>{{ object.idnumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3">Detalji o pitanju</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Numeriranje odgovora</th><td>{{ object.get_answernumbering_display }}</td>
                            </tr>
                            <tr>
                                <th>Miješanje odgovora</th><td>{{ object.shuffleanswers }}</td>
                            </tr>
                            <tr>
                                <th>Broj točnih odgovora</th><td>{{ object.get_single_display }}</td>
                            </tr>
                            <tr>
                                <th>Penal za novi pokušaj</th><td>{{ object.get_penalty_display }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3">Pitanje i odgovori</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Tekst pitanja</th><td>{{ object.questiontext }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% for odgovor in object.moodleodgovor_set.all %}
                    <div class="card mt-3">
                        <div class="card-header">
                            <h4 class="h4">Odgovor {{ forloop.counter }}</h4>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Tekst odgovora</th><td>{{ odgovor.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Udio odgovora u ocjeni</th><td>{{ odgovor.get_fraction_correct }}%</td>
                                    </tr>
                                    <tr>
                                        <th>Napomena</th><td>{{ odgovor.feedback }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Napomena - Točan odgovor</th><td>{{ object.correctfeedback }}</td>
                            </tr>
                            <tr>
                                <th>Napomena - Nepotpun odgovor</th><td>{{ object.partiallycorrectfeedback }}</td>
                            </tr>
                            <tr>
                                <th>Napomena - Netočan odgovor</th><td>{{ object.incorrectfeedback }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}