{% extends 'base.html' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h2">Popis pitanja za export</h2>
        </div>
    </div>
    <hr>
    <form method="post" action="">
    {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th><th>Naziv</th><th>Ocjena</th><th>Kolegij</th>
                </tr>
            </thead>
            <tbody>
                {% for zadatak in zadaci %}
                <tr style="line-height:2.5;">
                    <td><input type="checkbox" name="moodle_zadatak_ids[]" value="{{ zadatak.id }}" checked></td>
                    <td>{{ zadatak.name }}</td>
                    <td>{{ zadatak.defaultgrade }}</td>
                    <td>{{ zadatak.moodle_kategorija.moodle_kolegij }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" class="btn btn-warning" name="export-json" value="Export JSON">
        <input type="submit" class="btn btn-success" name="export-xml" value="Export XML">
    </form>
</div>

{% endblock body %}